@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.Layout{
    display: flex;
    flex-direction: row;
    z-index: 2;
}

.Title{
    margin-left: 2%;
}

.Navbar-Items{
    font-family: "Roboto", serif;
    font-weight: 500;
}

.Navbar{
    width: 100vw;
    height: 10%;
    background-color: rgba(1, 88, 167, 1);

}

.Sidebar-body{
    width: 17%;
    height: 99vh;
    background-color: rgb(255, 255, 255);
    padding: 5px;
}

.Logo{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.Logo img{
    padding-top: 2.5%;
    width: 75%;
    height: 75%;
    object-fit: cover; 
}

h1{
    display: flex;
    font-size: 200%;
    font-family: "Roboto", serif;
    font-weight: 500;
    color:rgb(255, 255, 255);
    align-items: center;
    
}

.Navbar-Items ul li a {
    text-decoration: none;
    color: rgba(160, 160, 160, 1);
    padding: 10px;
    display: block;
    transition: background 0.3s;
  }

  .Navbar-Items ul li a:hover{
    color: rgba(1, 88, 167, 1);
    font-weight: 1000;
  }
  
  .Navbar-Items ul li a.active {
    background-color: #e0e0e0; /* Color gris claro */
    border-left: 5px solid #0056b3; /* Borde azul a la izquierda */
    font-weight: bold;
    color: rgba(1, 88, 167, 1) /* Color azul */
  }
  

li{
    list-style: none;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5%;
}

li.active{
    background-color: rgba(239, 239, 239, 1);
    border-left: 10px solid rgba(1, 88, 167, 1);
}

ul{
    margin-top: 15%;
    padding-left: 10%;
}